<div class="alert alert-danger col-xs-12 col-sm-12 col-md-12">
	<ul>
		{% for input, messages in errors %}
			{% for message in messages %}
				<li>{{ input }}: {{ message }}</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>