{% extends 'layout.twig' %}
{% block content %}

<head>
	<style>
		body{
			background: linear-gradient(270deg, #26499a, #279a7d, #8f951d);
			background-size: 600% 600%;

			-webkit-animation: gradientdeluxe 15s ease infinite;
			-moz-animation: gradientdeluxe 15s ease infinite;
			animation: gradientdeluxe 15s ease infinite;
		}
		@-webkit-keyframes gradientdeluxe {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
		}
		@-moz-keyframes gradientdeluxe {
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@keyframes gradientdeluxe { 
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		.flex{
		    display: flex;
		    justify-content: center;
		    align-content: center;
		    flex-direction: column;
		    height: 77vh;
		}
		.flex-child{
		    border: solid 1px lightgray;
		    border-style: dashed;
		    border-radius: 12px;
		  	padding: 30px;			
		}
	</style>
</head>
<div class="container">
		<div class="row flex">
			<div class="col-xs-12 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4 flex-child">				
			        <form class="form-signin" method="post">
						<h2 class="form-signin-heading text-muted"><em>Please sign in</em></h2>
						<br>
						<div class="form-group">
						    <label for="inputEmail" class="sr-only">Email address</label>
						    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus >
						    <label for="inputPassword" class="sr-only">Password</label>
						    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required >
						</div>
					    <div class="checkbox">
				          <label>
				            <input type="checkbox" value="remember-me">
				            <em class="text-muted">
				            	Remember me
				            </em>
				          </label>
				        </div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
						<br>
					</form>
					{% if errors %}
						{% include('partials/errors.twig') %}
					{% endif %}
			</div>
		</div>
</div>

{% endblock %}